PORT=5000
MONGO_URI=mongodb+srv://starboy8122001_db_user:8FdveQSU6PdSjz29@cluster0.tovhofl.mongodb.net/expense-tracker?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=bellcorp_super_secret_jwt_key_2024
JWT_EXPIRE=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000